.navbar {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  transform-origin: top;
 
  position: sticky;
   z-index: 1000;
  position: -webkit-sticky;
  height: 82px;
}

.hide {
    top: -100px;
  }

.navbar__logo--img {
  width: 45px;
  height: 45px;
}

.nav__cta {
  padding: 7px 15px !important;
  background: #ba71da;
  vertical-align: center;
}

.nav__menu-img {
	width: 25px;
	height: 25px;
	cursor: pointer;	
}

.nav__contact-link:hover {
	color: #fff !important;
}

.nav-item {
	position: relative;
}

.whilist-number {
	background: #BA71DA;
	width: 20px;
	height: 20px;
	position: absolute;
	font-size: 16px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	right: -10px;
	top: 10px;
}
.li-active{
background: #BA71DA;
	border-radius: 20px;
}
.li-nav{
border-radius: 20px;

}
.li-nav:hover{
	background: #BA71DA;
	border-radius: 20px;
}