USE [master]
GO
/****** Object:  Database [levart]    Script Date: 29/06/2021 7:36:54 CH ******/
CREATE DATABASE [levart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'levart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\levart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'levart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\levart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [levart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [levart]
GO
/****** Object:  Table [dbo].[account]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[accountID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[fullName] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[pass] [varchar](20) NULL,
	[avatar] [varchar](70) NULL,
	[accountRole] [bit] NULL,
	[accountAddress] [varchar](1000) NOT NULL,
	[socialMediaLink] [varchar](1000) NULL,
	[point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[continent]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[continent](
	[continentID] [int] IDENTITY(1,1) NOT NULL,
	[continentName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[continentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[feedbackID] [int] IDENTITY(1,1) NOT NULL,
	[tourBookingID] [int] NULL,
	[feedbackMessage] [varchar](255) NULL,
	[star] [smallint] NULL,
	[sentimentStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nation]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nation](
	[nationID] [int] IDENTITY(1,1) NOT NULL,
	[nationName] [varchar](100) NULL,
	[continentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[nationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tour]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tour](
	[tourID] [int] IDENTITY(1,1) NOT NULL,
	[nationID] [int] NULL,
	[typologyID] [int] NULL,
	[tourName] [varchar](20) NULL,
	[shortDesc] [varchar](200) NULL,
	[descr] [varchar](8000) NULL,
	[price] [decimal](10, 0) NULL,
	[duration] [smallint] NULL,
	[rating] [float] NULL,
	[schedule] [varchar](8000) NULL,
	[discount] [float] NULL,
	[priceDiscount] [decimal](10, 0) NULL,
	[numberBooking] [int] NULL,
	[numberFeedback] [int] NULL,
	[coordinate] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[tourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tourBooking]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tourBooking](
	[tourBookingID] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NULL,
	[tourID] [int] NULL,
	[bookDate] [smalldatetime] NULL,
	[scheduleDate] [smalldatetime] NULL,
	[bookStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tourBookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tourImage]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tourImage](
	[tourImageID] [int] IDENTITY(1,1) NOT NULL,
	[tourID] [int] NULL,
	[imageURL] [varchar](100) NULL,
	[tourImageName] [varchar](100) NULL,
	[imageRole] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tourImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typology]    Script Date: 29/06/2021 7:36:55 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typology](
	[typologyID] [int] IDENTITY(1,1) NOT NULL,
	[typologyName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[typologyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([accountID], [username], [fullName], [email], [pass], [avatar], [accountRole], [accountAddress], [socialMediaLink], [point]) VALUES (1, N'ylantt', NULL, N'lan@gmail.com', N'1234', N'https://i.ibb.co/t42CQhf/profile-default.png', 0, N'Binh Thuan', N'https://www.facebook.com/ylantt', 0)
INSERT [dbo].[account] ([accountID], [username], [fullName], [email], [pass], [avatar], [accountRole], [accountAddress], [socialMediaLink], [point]) VALUES (2, N'thone', N'Mai Nguyen Duc Tho', N'pastwent12345@gmail.com', N'1234', N'https://i.ibb.co/t42CQhf/profile-default.png', 0, N'Long An', N'https://www.facebook.com/MaiNguyenDucTho/', 4800)
INSERT [dbo].[account] ([accountID], [username], [fullName], [email], [pass], [avatar], [accountRole], [accountAddress], [socialMediaLink], [point]) VALUES (3, N'dungph', N'Phan Hoang Dung', N'kthcm79@gmail.com', N'1234', N'https://i.ibb.co/t42CQhf/profile-default.png', 1, N'TPHCM', N'https://www.facebook.com/HoaThienVu.HDP', 0)
SET IDENTITY_INSERT [dbo].[account] OFF
SET IDENTITY_INSERT [dbo].[continent] ON 

INSERT [dbo].[continent] ([continentID], [continentName]) VALUES (1, N'Aisa')
INSERT [dbo].[continent] ([continentID], [continentName]) VALUES (2, N'Africa')
INSERT [dbo].[continent] ([continentID], [continentName]) VALUES (3, N'North America')
SET IDENTITY_INSERT [dbo].[continent] OFF
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([feedbackID], [tourBookingID], [feedbackMessage], [star], [sentimentStatus]) VALUES (7, 4, N'Great', 5, 1)
INSERT [dbo].[feedback] ([feedbackID], [tourBookingID], [feedbackMessage], [star], [sentimentStatus]) VALUES (8, 5, N'nice', 5, 1)
SET IDENTITY_INSERT [dbo].[feedback] OFF
SET IDENTITY_INSERT [dbo].[nation] ON 

INSERT [dbo].[nation] ([nationID], [nationName], [continentID]) VALUES (1, N'Viet Nam', 1)
INSERT [dbo].[nation] ([nationID], [nationName], [continentID]) VALUES (2, N'China', 1)
INSERT [dbo].[nation] ([nationID], [nationName], [continentID]) VALUES (3, N'Japan', 1)
SET IDENTITY_INSERT [dbo].[nation] OFF
SET IDENTITY_INSERT [dbo].[tour] ON 

SET IDENTITY_INSERT [dbo].[tour] OFF
SET IDENTITY_INSERT [dbo].[tourBooking] ON 

INSERT [dbo].[tourBooking] ([tourBookingID], [accountID], [tourID], [bookDate], [scheduleDate], [bookStatus]) VALUES (1, 1, 1, CAST(N'2021-06-05T20:45:00' AS SmallDateTime), CAST(N'2021-06-08T00:00:00' AS SmallDateTime), 3)
INSERT [dbo].[tourBooking] ([tourBookingID], [accountID], [tourID], [bookDate], [scheduleDate], [bookStatus]) VALUES (4, 2, 5, CAST(N'2021-06-07T16:44:00' AS SmallDateTime), CAST(N'2021-06-20T00:00:00' AS SmallDateTime), 3)
INSERT [dbo].[tourBooking] ([tourBookingID], [accountID], [tourID], [bookDate], [scheduleDate], [bookStatus]) VALUES (5, 2, 2, CAST(N'2021-06-07T20:46:00' AS SmallDateTime), CAST(N'2021-06-10T00:00:00' AS SmallDateTime), 3)
SET IDENTITY_INSERT [dbo].[tourBooking] OFF
SET IDENTITY_INSERT [dbo].[tourImage] ON 

INSERT [dbo].[tourImage] ([tourImageID], [tourID], [imageURL], [tourImageName], [imageRole]) VALUES (33, 1, N'https://i.ibb.co/QXdXGXc/Ha-Long-Bay-Cover-Img.jpg', N'Ha Long Bay cover image', 0)
INSERT [dbo].[tourImage] ([tourImageID], [tourID], [imageURL], [tourImageName], [imageRole]) VALUES (34, 1, N'https://i.ibb.co/LgxkY3g/Ha-Long-Bay-Gallery-1.jpg', N'Ha Long Bay gallery image 1', 1)
INSERT [dbo].[tourImage] ([tourImageID], [tourID], [imageURL], [tourImageName], [imageRole]) VALUES (35, 1, N'https://i.ibb.co/rFkWr1y/Ha-Long-Bay-Gallery-2.jpg', N'Ha Long Bay gallery image 2', 1)
SET IDENTITY_INSERT [dbo].[tourImage] OFF
SET IDENTITY_INSERT [dbo].[typology] ON 

INSERT [dbo].[typology] ([typologyID], [typologyName]) VALUES (1, N'Relax')
INSERT [dbo].[typology] ([typologyID], [typologyName]) VALUES (2, N'Cultural')
INSERT [dbo].[typology] ([typologyID], [typologyName]) VALUES (3, N'History')
SET IDENTITY_INSERT [dbo].[typology] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__AB6E616427433ACD]    Script Date: 29/06/2021 7:36:55 CH ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__F3DBC572CB16D4C0]    Script Date: 29/06/2021 7:36:55 CH ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unTour]    Script Date: 29/06/2021 7:36:55 CH ******/
ALTER TABLE [dbo].[tour] ADD  CONSTRAINT [unTour] UNIQUE NONCLUSTERED 
(
	[tourName] ASC,
	[nationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ucCodes]    Script Date: 29/06/2021 7:36:55 CH ******/
ALTER TABLE [dbo].[tourBooking] ADD  CONSTRAINT [ucCodes] UNIQUE NONCLUSTERED 
(
	[accountID] ASC,
	[bookDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ('https://i.ibb.co/t42CQhf/profile-default.png') FOR [avatar]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((1)) FOR [accountRole]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ('') FOR [socialMediaLink]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((0)) FOR [point]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT ((0)) FOR [numberBooking]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT ((0)) FOR [numberFeedback]
GO
ALTER TABLE [dbo].[tour] ADD  DEFAULT ('') FOR [coordinate]
GO
ALTER TABLE [dbo].[tourBooking] ADD  DEFAULT (getdate()) FOR [bookDate]
GO
ALTER TABLE [dbo].[tourBooking] ADD  DEFAULT ((1)) FOR [bookStatus]
GO
ALTER TABLE [dbo].[tourImage] ADD  DEFAULT ((1)) FOR [imageRole]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([tourBookingID])
REFERENCES [dbo].[tourBooking] ([tourBookingID])
GO
ALTER TABLE [dbo].[nation]  WITH CHECK ADD FOREIGN KEY([continentID])
REFERENCES [dbo].[continent] ([continentID])
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD FOREIGN KEY([nationID])
REFERENCES [dbo].[nation] ([nationID])
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD FOREIGN KEY([typologyID])
REFERENCES [dbo].[typology] ([typologyID])
GO
ALTER TABLE [dbo].[tourBooking]  WITH CHECK ADD FOREIGN KEY([accountID])
REFERENCES [dbo].[account] ([accountID])
GO
ALTER TABLE [dbo].[tourBooking]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[tour] ([tourID])
GO
ALTER TABLE [dbo].[tourImage]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[tour] ([tourID])
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [AC_ROLE] CHECK  (([accountRole]=(1) OR [accountRole]=(0)))
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [AC_ROLE]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [star_feedback] CHECK  (([star]>=(0) AND [star]<=(5)))
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [star_feedback]
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD  CONSTRAINT [discount_tour] CHECK  (([discount]>=(0) AND [discount]<=(100)))
GO
ALTER TABLE [dbo].[tour] CHECK CONSTRAINT [discount_tour]
GO
ALTER TABLE [dbo].[tour]  WITH CHECK ADD  CONSTRAINT [rating_tour] CHECK  (([rating]>=(0) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[tour] CHECK CONSTRAINT [rating_tour]
GO
ALTER TABLE [dbo].[tourBooking]  WITH CHECK ADD  CONSTRAINT [status_tourBooking] CHECK  (([bookStatus]>=(1) AND [bookStatus]<=(4)))
GO
ALTER TABLE [dbo].[tourBooking] CHECK CONSTRAINT [status_tourBooking]
GO
ALTER TABLE [dbo].[tourImage]  WITH CHECK ADD  CONSTRAINT [imgTour_role] CHECK  (([imageRole]=(1) OR [imageRole]=(0)))
GO
ALTER TABLE [dbo].[tourImage] CHECK CONSTRAINT [imgTour_role]
GO
USE [master]
GO
