/*Landing Section*/
.landing
{
    height: 100vh;
}

.landing-h1
{
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    color: azure;
}

.landing-h3
{
    padding-top: 20px;
    text-align: center;
    color: azure;
}

.search-container form
{
    width: 50%;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.search-bar
{
    margin: 0 auto;
    background-color: white;
    width: 50%;;
    border-radius: 10px;
}


.search-container input[type="text"]
{
    width: 300px;
    height: 47px;
    border-style: none;
}

/*Destination Section*/
.destination, .combo
{
    width: 1170px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.destination-h2, .combo-h2
{
    text-align: center;
    margin-bottom: 50px;
}

.destination-card
{  
    position: relative;
    height: 330px;
}

.destination-text
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 20pt;
}

/*Combo Section*/
a{
	color: #ffffff;
}

 p,
 a.adetail{
    padding: 0px;
    margin: 0px;
    color: #9DA0AA;     
    font-weight: lighter;
    /* text-align: justify; */
}

.card__button--color {
    background-color: rgb(247, 101, 112);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px 20px;
}

.related-tour__card .card__category p {
    font-size: 12px;
    color: #000000;
}

.tour-info__related-tour .related-tour__title {
    text-align: center;
    margin-bottom: 20px;
}

.crop{
	width: 360px;
	height: 200px;
	object-fit: cover;
    object-position: 20% 10%;
}

.typo-icon {
	width: 50px;
}

.btn-typo {
	font-size: 13px;
	padding: 3px 0;
	color: #fff !important;
	display: block;
	width: 105px;
	text-align: center;
}

.btn-typo--1 {
	background: #F3A46B;
}

.btn-typo--2 {
	background: #1BBC9B;
}

.btn-typo--3 {
	background: #F76570;
}

.btn-typo--4 {
	background: #14B9D5;
}

.home-cta--dark {
	background: #555555;
	color: #fff !important;
	text-align: center;
	display: block;
	padding: 10px 0;
	width: 220px;
	margin: 0 auto;
}

.home-cta--dark {
	background: #555555;
	color: #fff !important;
	text-align: center;
	display: block;
	padding: 10px 0;
	width: 220px;
	margin: 0 auto;
}

.statistic {
	background-position: center !important;
	background-size: cover !important;
	padding: 100px 150px;
	margin: 100px 0;
}

.check-symbol {
	width: 50px;
	height: 50px;
}